# DEPENDENCIES
/frontend/node_modules

# TESTING
/frontend/coverage

# NEXT JS
/frontend/.next/
/frontend/out/

# PRODUCTION
/frontend/build

# MISC
/frontend/.DS_Store
/frontend/*.pem

# DEBUG
/frontend/npm-debug.log*

# ENVOIRMENT VARIABLE FILES
/frontend/.env

# DEPLOYMENTS
/frontend/.vercel

# TYPESCRIPT
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts
